body {
    background-color: #212e2b;
}


h1 {
    color: #1abc9c;
}
.rem {
    margin-left: 5px;
    background-color: white;
    color: red;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: #47a895;
    padding: 5px 10px;
    border: 1px solid #212e2b;
    border-radius: 5px;
    cursor: pointer;
}

li {
    color: #1abc9c;
}